/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { list-style: decimal; }
ul { list-style:none; }
a{text-decoration: none;}
q:before, q:after { content:''; }
*:focus {outline: none;}
/* end reset */

/*---------------------------start---------------------------------*/
html{
 height:100%;
 background:#fff;
}
body{
 font:12px/12px Arial, Helvetica, sans-serif;
 min-height:100%;
 min-width: 1200px;
 width: 1200px;
 margin: 0 auto;
 color:#000;
}
/*:before,
:after*/
/*:before,
:after*/
/*{
	display: block;
	clear: both;
	content: '';
}*/
/*-----------------------------MAIN-------------------------------*/
.main{
	width: 100%;
	margin: 0 auto;
}
.main .container{
	margin: 0 auto;
}
h1{
	font-size: 20px;
	line-height: 20px;
	margin: 20px;
}
.source{
	padding: 20px;
}
.source p{
	margin: 20px 0;
}
.sourceText, .targetText{
	overflow: hidden;
}
#inputKiril{float: left;}
#inputLatyn{float: right;}
#inputKiril, #inputLatyn{
	width: 48%;
	max-width: 50%;
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
}
.sourceSubmit{}
#translate, #clear, #copy{
	font-size: 14px;
	line-height: 14px;
	padding: 8px 10px;
	margin: 0 10px 0 0;
	border: none;
    color: white;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    cursor: pointer;
}
#translate{
	background-color: #5988b7;
}
#copy{background-color: #5988b7;}
#clear{
	background-color: #44627f;
}
.sourceRule{
	padding: 10px;
	border: 1px solid transparent;
}
.sourceRule input[type="radio"]{
	width: 17px;
	height: 17px;
}
.sourceRule lable{
	display: inline-block;
	font-size: 14px;
}
.sourceRule span{
	display: block;
    padding: 5px;
    margin: 10px;
	color: transparent;
}
.alert{
	border: 1px solid red;
}
.alert span{
	color:red;
}
