/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { list-style: decimal; }
ul { list-style:none; }
a{text-decoration: none;}
q:before, q:after { content:''; }
*:focus {outline: none;}
/* end reset */
/*----------------------------Font name-----------------------------*/
	/*font: px georgia, serif;
	font: px "times new roman", times, serif;
	font: px arial, helvetica, sans-serif;
	font: px tahoma, geneva, sans-serif;
	font: px "trebuchet ms", helvetica, sans-serif;
	font: px verdana, geneva, sans-serif;
	font: px "ms serif", "new york", serif;
	font: px "arial black", gadget, sans-serif;
	font: px "lucida sans", unicode, "lucida grande", sans-serif;*/
@font-face {
	
}
/*---------------------------start---------------------------------*/
html{
 height:100%;
 background:#fff;
}
body{
 font:12px/12px Arial, Helvetica, sans-serif;
 min-height:100%;
 min-width: 1200px;
 width: 1200px;
 margin: 0 auto;
 color:#000;
}

/*-----------------------------MAIN-------------------------------*/
.main{
	width: 100%;
	margin: 0 auto;
}
.main .container{
	margin: 0 auto;
}
h1{
	font-size: 20px;
	line-height: 20px;
	margin: 20px;
}
.source{
	
}
.source p{
	margin: 20px 0;
}
.sourceText{
	width: 1000px;
	overflow: hidden;
}
#inputKiril{
	width: 97%;
	max-width: 99%;
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
}
.sourceSubmit{

}
.sourceRule{
	padding: 10px;
	border: 1px solid transparent;
}
.sourceRule span{
	display: block;
    padding: 5px;
    margin: 10px;
	color: transparent;
}
.alert{
	border: 1px solid red;
}
.alert span{
	color:red;
}
#translate{
	padding: 5px;
	background-color: #ccc;
}
.targetText{
	width: 100%;
	border: 1px solid black;
	margin: 20px 0;
	padding: 10px;
}
.targetText p{
	font-size: 14px;
	line-height: 14px;
	margin: 7px;
}